{% include 'header.html' %}
  <body>
    <!-- Form con get -->
    <form action="{{url_for('prova_get_altra_output')}}">
        <div class="form-group row">
          <label for="first" class="col-sm-2 col-form-label">Campo uno</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Inserisci campo uno" name="campo-uno">
          </div>
        </div>
        <div class="form-group row">
            <label for="first" class="col-sm-2 col-form-label">Campo due</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Inserisci campo due" name="campo-due">
            </div>
          </div>  
          <button type="submit" class="btn btn-primary mb-2">Conferma</button>
      </form>

  </body>
{% include 'footer.html' %}