{% extends "base.html" %} 
{% block content %}

<div class="container text-center">
    <br>
    <h1>Le prossime serate</h1>
    <br>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Nome - Descrizione</th>
        <th scope="col">Links partecipazione</th>
        <th scope="col">Corso</th>
      </tr>
    </thead>
    {% for s,c in zipped_data %}
    <tbody>
      <tr>
        <th scope="row">{{ s.data.strftime('%d/%m/%Y') }}</th>
        <td>{{ s.nome }} - {{ s.descrizione }}</td>
        <td>
            {% if s.link_partecipazione %}
              <a href="{{ s.link_partecipazione }}">{{ s.link_partecipazione }}</a>
            {% else %}
              Non disponibile
            {% endif %}
        </td>
        <td> {{ c.nome }} </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>

  {% endblock %}