DS_Store
.DS_Store
*DS_Store
Flask/Flask04/burlesco70/webapp/project/corsi/__init__.py
Flask/Flask04/burlesco70/webapp/project/corsi/__pycache__/__init__.cpython-36.pyc
Flask/Flask04/burlesco70/webapp/project/models/__pycache__/__init__.cpython-36.pyc
Flask/Flask04/burlesco70/webapp/project/tags/__init__.py
Flask/Flask04/burlesco70/webapp/project/tags/__pycache__/views.cpython-36.pyc
Flask/Flask04/burlesco70/webapp/project/tags/__pycache__/__init__.cpython-36.pyc

