{% from '_forms.html' import generate_fields with context %}
{% include 'header.html' %}
  <body>

    <!-- Messaggi flash -->        
    <div class="container">
        {# Flashed messages #}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {# End Flashed messages #}
    </div>        


    <!-- Gestione Edit -->
    <h1 class="display-2">Edit Tag</h1>

    {% block body %}
    <form method="post">
        {{ generate_fields(form) }}
	    <input type="submit" class="btn btn-success" value="Save">
    </form>
    {% endblock %}

<!-- Link finali -->
<br><br>
<a href="/tags" class="btn btn-primary">Torna alla lista tags</a>
<br><br>
<a href="/" class="btn btn-primary">Torna alla home page</a>

</body>

{% include 'footer.html' %}