{% include 'header.html' %}
  <body>
    <img src="../static/pgb_logo.jpg" alt="Python Biella Group" class="rounded mx-auto d-block">    
    <p class="text-center"><a href="corsi">Go to course list</a></p>
    <p class="text-center"><a href="prova_get_stessa">Try Form with Get (output in same page)</a></p>
    <p class="text-center"><a href="prova_get_altra">Try Form with Get (output in different page)</a></p>
    <p class="text-center"><a href="prova_post_stessa">Try Form with Post (output in same page)</a></p>
    <p class="text-center"><a href="prova_post_altra">Try Form with Post (output in different page)</a></p>

    <!-- User agent -->
    <p class="text-center">Your browser is {{ user_agent }}</p>

  </body>

{% include 'footer.html' %}




