{% include 'header.html' %}
  <body>

    {% block content %}
    <form action="" method="POST"></form>
    {{course_form.hidden_tag()}}
    <br>
    {{course_form.name.label}}{{course_form.name}}
    <br>
    {{course_form.teacher.label}}{{course_form.teacher}}
    <br>
    {{course_form.piattaforma.label}}{{course_form.piattaforma}}
    <br>
    {{course_form.difficolta.label}}{{course_form.difficolta}}
    <br>
    {{course_form.feedback.label}}{{course_form.feedback}}
    <br>
    {{course_form.submit()}}
    <form>

        
    <br/>
    <h2>Nome: {{name}}</h2>>
    <h2>Insegnante: {{teacher}}</h2>>
    <h2>feedback: {{feedback}}</h2>>
    <br/>

    {% endblock content %}


  </body>
{% include 'footer.html' %}