{% include 'header.html' %}
  <body>

    <h2 class="display-2">Programma di {{ corso.titolo }}</h2>
    <!-- Lista tags -->    
    <h4 class="display-4">
      {% for t in corso.tags %}
    <span class="badge badge-secondary">{{t.titolo}}</span>
      {% endfor %} 
    </h4>

    <h4 class="display-4">Insegnante <span class="badge badge-success">{{corso.insegnante}}</span></h4>

    <h4 class="display-4"><span class="badge badge-info">Programma del corso</span></h4>

    <!-- Lista serate -->
    <div class="list-group">
    {% block content %}
        {% for s in sessioni %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ s.data.strftime('%d/%m/%Y') }}</h5>
            <small class="text-muted"></small>
          </div>
          <p class="mb-1">{{ s.descrizione }}</p>
          <small class="text-muted"></small>
         </a>
    {% endfor %}
    </div>
    {% endblock content %}

    <a href="/corsi" class="btn btn-primary">Torna alla lista</a>

  </body>
{% include 'footer.html' %}