{% extends "base.html" %} {% block content %}

    <!-- Messaggi flash -->
    <div class="alert alert-primary" role="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
  
<div class="container text-center">
    <br>
    <h1>Programma di {{ corso.nome }}</h1>
    <br>


    <!-- CORSO -->    
    <h2>{{ corso.descrizione }}<span class="badge badge-secondary"></span></h2>
    <h3>Tags 
        <!-- Lista tags -->
        {% for t in corso.tags %}
    <span class="badge badge-secondary">
        {{t.name}}
    </span>        
        {% endfor %} 
    </h3>

    <h4 class="display-4">Insegnante <span class="badge badge-success">{{corso.insegnante}}</span></h4>
    <h4 class="display-4">Livello <span class="badge badge-warning">{{corso.livello}}</span></h4>

    <h2 class="display-2"><span class="badge badge-info">Programma del corso</span></h2>
  </div>    <!--end center -->

  <div class="bd-example">
  <div class="it-list-wrapper">
        <ul class="it-list">
            <!--Element-->
            {% for s in corso.serate %}
          <li>
            <a href="#">
              <div class="it-right-zone">
                <span class="text">{{ s.data.strftime('%d/%m/%Y') }}<em>{{ s.descrizione }}</em></span>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
    </div>          
  </div>

    <br>
    <div class="container text-center">
    <div class="link-list-wrapper">
        <ul class="link-list">
           <li><a class="list-item" href="{{ url_for('corsi.lista') }}"><span>Torna alla lista</span></a></li>
        </ul>
    </div>
  </div>


  
{% endblock %}