{% extends "base.html" %} {% block content %}

    <!-- Messaggi flash -->        
    <div class="container">
      {# Flashed messages #}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {# End Flashed messages #}
  </div>        


<div class="container text-center">
    <br>
    <h1>Lista corsi</h1>
    <br>
</div>

<div class="row">

{% for c in lista_corsi %}
      <!--start card-->
    <div class="col-12 col-lg-4">

      <div class="card-wrapper">
        <div class="card">
          <div class="card-body">
            <div class="category-top">
              <a class="category" href="#">
                  <!-- Lista tags -->
                  {% for t in c.tags %}
                  {{t.name}}
                  {% endfor %}
                </a>
              <span class="data"></span>
            </div>
            <h5 class="card-title big-heading">{{ c.nome }}</h5>
            <p class="card-text">{{ c.descrizione }}</p>
            <span class="card-signature">di {{c.insegnante}}</span>
            <a class="read-more" href="/corsi/{{ c.id }}">
              <span class="text">Più dettagli...</span>
              <svg class="icon">
                <!-- Link a dettaglio corso -->
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
      <!--end card-->
  {% endfor %}

</div>

{% endblock %}